body
{
  background-image:url("ivory.jpeg");
  background-repeat:no-repeat;
  background-size:1300px,650px;
}
  

ul
{
  font-weight:bold;
  color: white;
  background: #366;
  list-style-position: outside;
  margin: 1;
  padding: 1;
}   

